body {

    margin:0;
    padding:0;

    font-family: "Courier New", monospace;

    background:#10142b;
    color:white;

}


.pantalla {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}


.oculto {

    display:none;

}


.estrellas {

    position:absolute;

    top:30px;

    font-size:30px;

}


.luna {

    position:absolute;

    top:70px;

    right:80px;

    font-size:60px;

}


.contenido h1 {

    font-size:55px;

}


.baki {

    font-size:80px;

    margin:20px;

}


button {

    background:#263b80;

    color:white;

    border:3px solid white;

    padding:15px 35px;

    font-size:20px;

    cursor:pointer;

}


button:hover {

    transform:scale(1.1);

}


.caja {

    background:#182044;

    border:5px solid white;

    padding:30px;

    width:70%;

    max-width:700px;

}


#texto {

    min-height:120px;

    font-size:22px;

    white-space:pre-line;

}



.mapa {

    margin-top:30px;

    height:250px;

    background:#477a4b;

    border:5px solid white;

    position:relative;

}


.personaje {

    position:absolute;

    bottom:40px;

    left:50px;

    font-size:50px;

}


.objeto {

    font-size:40px;

    margin:20px;

}
